/* Default Settings */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  border: 1px solid lightgray;
  padding: 1.5em;
}

.title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

/* AddTodo */

.form-group {
  width: 100%;
}

.input,
.btn {
  line-height: 1.5rem;
  padding-left: 1rem;
}

.input {
  width: 80%;
  cursor: text;
  margin-bottom: 1rem;
}

.btn {
  padding: 0 0.5rem;
  cursor: pointer;
}

/* List */

.todo-list {
  list-style: none;
}

.todo-item {
  padding-right: 0.25rem;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
}
